@import '../mixin'
@import '../variables'
.introducer
   
    
    @include flexbox(center,center)
    flex-direction: column
    gap: 25px
    
    
    position: absolute
    bottom: 2rem
    @media screen and (max-width: 950px)
        left: auto !important
        right: auto !important
        bottom: 2rem !important
    h3
        font-weight: 400
        animation: fadeInLeft 1s
        animation-fill-mode: backwards
        animation-delay: 1s
        will-change: transform
        font-size: calc(14px + 0.390625vw)
    .arrow-container

        @include flexbox(start,center)
        position: relative

        animation: fadeInLeft 1s
        animation-fill-mode: backwards
        animation-delay: 2s
        will-change: transform
        width: 80px
        height: 80px
        
        border-radius: 50%
        border: solid 1px #{$grey}
        overflow: hidden
        @media screen and (max-width: #{$tabletLandscape})
            width: 70px
            height: 70px
        @media screen and (max-width: #{$medium})
            width: 60px
            height: 60px
        
        &:hover
            box-shadow: 0 0 10px 5px #{$blue}, inset 0 0 10px 5px #{$orange}
    .arrow
        $base: 0.6rem
        position: absolute
        width: calc(#{$base} * 3)
        height: calc(#{$base} * 0.4)
        transform: scale(2)
        opacity: 1

        animation: move 3s ease-out infinite

        &:first-child
            animation: move 3s ease-out 1s infinite
        &:nth-child(2)
            animation: move 3s ease-out 2s infinite

        &::before
            content: ""
            position: absolute
            background-color: #{$grey}
            top: 0
            height: 100%
            width: 50%
            left: 0
            transform: skewY(30deg)
        &::after
            content: ""
            position: absolute
            background-color: #{$grey}
            top: 0
            height: 100%
            width: 50%
            right: 0
            transform: skewY(-30deg)
