@import '../../variables'
@import '../../mixin'

.gallery
    width: min(1400px, 100%)
    height: 300vh
    display: flex
    &__left, &__right
        width: 50%

    &__left

        @include flexbox(center,center)
        &_container

            height: 100%
            width: 100%
            display: flex

            flex-direction: column
            justify-content: space-between
            .gallery__left_inner

                width: 100%
                height: 100%
                @include flexbox(center,center)
                flex-direction: column
                padding: 1rem
                gap: 2rem
                p
                    width: 80%
                    gap: 10px
                    display: flex
                    flex-wrap: wrap

    &__right
        height: 100vh

        @include flexbox(center,center)
        &_container
            width: 80%
            height: 40%
            position: relative
            overflow: hidden
            .gallery__right_inner
                height: 100%
                width: 100%
                position: absolute
                &_container
                    @include flexbox(center,center)
                    flex-wrap: wrap
                    height: 100%
                    overflow: hidden
                    .skill-icon

                        overflow: hidden
                        width: 150px
.tech-icon
    width: 70px
    height: 70px

    outline: 1px solid transparent
