@import '../../variables'
@import '../../mixin'

.whoami-content-wrapper
    width: min(1400px, 100%)

    @include flexbox(center,center)
    .whoami-content

        z-index: 1
        @include flexbox(center,center)
        padding: 1rem
        p
            padding: 1rem
            gap: 10px
            display: flex
            flex-wrap: wrap
            line-height: 100%
            text-align: justify
            font-size: $font-size-xxl
            span
                color: #252525
