@import 'variables'
@import 'mixin'
// .fixed
//     position: fixed
//     width: 97%

nav
    padding: 2rem
    @include flexbox(center,end)
    position: sticky
    top: 0
    height: 10vh
    backdrop-filter: blur(10px)  
    z-index: 999
    box-shadow: #{$navShadowOutside}
    @media screen and (max-width: 950px)
        backdrop-filter: none
        box-shadow: none
        .nav-list
            display: none
            background-color: blue
   

    @include flexbox(center, end)

    ul
        width: 100%
        @include navList(row, 2vmin, 0, #{$grey})
