@import 'variables'
@import 'mixin'
// .fixed
//     position: fixed
//     width: 97%

nav

    position: fixed
    left: 50%
    transform: translate(-50%)
    backdrop-filter: blur(10px)
    z-index: 999
    width: 90%
    .navbar-wrapper
        @include flexbox(center,space-between)
        width: 100%
        padding: 0.5rem

    @media screen and (max-width: 950px)
        backdrop-filter: none
        box-shadow: none
        .nav-list
            display: none
            background-color: blue

    @include flexbox(center, end)

    ul
        width: 100%
        @include navList(row, 2vmin, 0, #{$grey})
