$blue: #0C4A60 
$orange: #EF6C33
$lightblue: #ABDFF1
$grey: #E1DDDB

$gradientListMain: black , #{$blue} 20%  , black 70%
$gradientListSkills:  black, #{$blue} 20%   , black 70%
$small: 411px
$medium: 770px
$large: 1370px
$xlarge: 1920px