$blue: #0C4A60 
$orange: #EF6C33
$lightblue: #ABDFF1
$grey: #E1DDDB

$gradientListMain: black , #{$blue} ,black , black 
$gradientListSkills:  black , #{$blue} 20%   , black 70%

// $layer1: radial-gradient(49% 81% at 45% 47%, #00000045 0%, #073AFF00 100%)
// $layer2: radial-gradient(113% 91% at 8% 9%, #000000FF 1%, #FF000000 99%)
// $layer3: radial-gradient(142% 91% at 83% 7%, #000000FF 1%, #FF000000 99%)
// $layer4: radial-gradient(142% 91% at -6% 74%, #{$blue} 1%, #FF000000 99%)
// $layer5: radial-gradient(142% 91% at 111% 84%, #{$orange} 0%, #000000FF 100%)

//bigger blue one
$landPageLayer1: radial-gradient(49% 81% at 45% 47%, #00000045 0%, #073AFF00 100%)
$landPageLayer2: radial-gradient(113% 91% at 8% 9%, #000000FF 1%, #FF000000 99%)
$landPageLayer3: radial-gradient(142% 91% at 83% 7%, #000000FF 1%, #FF000000 99%)
$landPageLayer4: radial-gradient(104% 173% at 8% 41%, #0C4A60 1%, #FF000000 100%)
$landPageLayer5: radial-gradient(92% 69% at 98% 119%, #Ef6c33 0%, #000000FF 99%)

//section edge shadow
$edgeShadow: 5px 5px 15px 15px black

$navShadowInside: inset 0 2px 10px 10px black
$navShadowOutside: 0 2px 10px 10px black

$small: 320px
$mobileLandscape: 480px
$smallTabletPortrait: 600px
$medium: 768px
$smallTabletLandscape: 800px
$tabletLandscape: 1024px
$large: 1370px
$xlarge: 1920px

