@import 'variables'
@import 'mixin'
@import 'keyframes'

#about

    min-height: 100vh
    color: #{$grey}
    position: relative
    background: #{$black}
    @include flexbox(center,center)
    flex-direction: column
    padding: 1rem
    padding-top: 15vh
    .wrapper
        width: 100%
        min-height: 70vh
        @include flexbox(center,center)
        flex-direction: column
    .whoami-content-wrapper
        width: min(1400px, 100%)
        min-height: 50vh

        display: flexbox

        flex-direction: column

        .left-col, .right-col

            display: flex
            position: relative
            min-height: 400px
            z-index: 1
            @include flexbox(center,center)

            padding: 1rem
            p
                width: min(650px, 100%)
                background: rgba(10,125,158,0)
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
                backdrop-filter: blur(10px)
                -webkit-backdrop-filter: blur(10px)
                padding: 1rem
                gap: 6px
                display: flex
                flex-wrap: wrap
                line-height: 100%
               
            .art-img, .codding-img
                width: min(600px, 100%)
                position: absolute
                aspect-ratio: 16/9
                z-index: -1
            .art-img
                right: 0
            .codding-img
                left: 0
        .left-col
            padding-right: 12vw
        .right-col
            padding-left: 12vw
        @media screen and (max-width: 900px)
            .left-col
                padding-right: 1rem
            .right-col
                padding-left: 1rem
        @media screen and (max-width: 600px)
            .art-img, .codding-img
                top: 0
            .left-col, .right-col
                p
                    background: rgba(255,255,255,0)
           

