@import 'variables'
@import 'mixin'
@import 'keyframes'

#about

    min-height: 100vh
    color: #{$grey}
    position: relative
    background: #0d0d0d
    @include flexbox(center,center)
    flex-direction: column
    padding: 1rem
    padding-top: 15vh
    .wrapper
        width: 100%
        min-height: 80vh
        @include flexbox(center,center)
        flex-direction: column
    .title-wrapper
        @include flexbox(center,start)
        gap: 1rem
        width: 100%
        margin-bottom: 2rem
        .title-line
            width: min(215px, 30%)
            background: #{$grey}
            height: 1px
        .title
            font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem)

            text-transform: uppercase
            letter-spacing: -2px
    //QUALITIES
    .qualities-wrapper
        .quality
            color: rgb(153, 153, 153)
            width: min(1400px, 100%)
            z-index: 2
            position: relative
            border-bottom: 1px solid #272522
            transition: color 0.5s
            display: flex
            align-items: center
            justify-content: space-between
            padding: 0.5rem
            -webkit-touch-callout: none
            -webkit-user-select: none
            -khtml-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            &:nth-child(2)
                border-top: 1px solid #272522
            span
                font-size: clamp(2.80rem, 3.25vw + 2rem, 4.56rem)
                font-weight: 700
                text-transform: uppercase
                letter-spacing: -4px
                //padding-left: 15vw
                align-self: start

            p
                width: min(400px, 100%)
                line-height: 0%
                opacity: 0
                transition: 0.5s
                font-weight: 600
                color: black

            @media screen and (max-width: 900px)
                flex-direction: column
                align-items: start
                justify-content: start

            &::after, &::before
                content: ''
                position: absolute
                width: 100%
                height: 0
                background: #{$blue}
                opacity: 1
                z-index: -1
                left: 0
                transition: 0.5s
            &::after
                bottom: 50%
            &::before
                top: 50%
            &:hover::before
                height: 50%
            &:hover::after
                height: 50%
            &:hover p
                opacity: 1
                line-height: 100%
            &:hover
                color: black

    //WHO AM I
    .whoami-wrapper
        .whoami-content-wrapper
            width: min(1400px, 100%)
            min-height: 50vh

            display: flexbox

            flex-direction: column

            .left-col, .right-col

                display: flex
                position: relative
                min-height: 400px
                z-index: 1
                @include flexbox(center,center)

                padding: 1rem
                p
                    width: min(650px, 100%)
                    background: rgba(10,125,158,0)
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
                    backdrop-filter: blur(10px)
                    -webkit-backdrop-filter: blur(10px)
                    padding: 1rem
                .art-img, .codding-img
                    width: min(600px, 100%)
                    position: absolute
                    aspect-ratio: 16/9
                    z-index: -1
                .art-img
                    right: 0
                .codding-img
                    left: 0
            .left-col
                padding-right: 12vw
            .right-col
                padding-left: 12vw
            @media screen and (max-width: 900px)
                .left-col
                    padding-right: 1rem
                .right-col
                    padding-left: 1rem
            @media screen and (max-width: 600px)
                .art-img, .codding-img
                    top: 0
                .left-col, .right-col
                    p
                        background: rgba(255,255,255,0)
            //.three-col-content

                // display: flex
                // flex-direction: row
                // -webkit-justify-content: space-between
                // justify-content: space-between
                // min-height: 800px
                // width: 100%
                // min-height: 100%
                // gap: 1rem

                // .codding-img
                //     left: 0

                // .left-col, .right-col
                //     width: min(1200px, 100% )
                //     min-height: 400px
                //     z-index: 1
                //     display: flex
                //     justify-content: space-between
                //     gap: 1rem
                //     position: relative
                //     padding: 1rem
                //     .about-img
                //         width: min(600px, 100%)
                //         height: auto
                //         z-index: -1
                //         position: absolute

                //     p
                //         color: #{$grey}
                //         padding: 1rem
                //         width: min(650px, 100%)
                //         @include flexbox(center,center)
                //         background: rgba(10,125,158,0.2)
                //         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
                //         backdrop-filter: blur(5px)
                //         -webkit-backdrop-filter: blur(5px)
                //         // background: #{$blue}
                //         align-self: center
                // .right-col
                //     align-self: flex-end
                // .left-col
                //     align-self: flex-start
                // @media screen and (max-width: 800px)
                //     .left-col, .right-col
                //         flex-direction: column
                //         z-index: 1

                //         p
                //             width: min(600px, 80%)
                //             background: rgba(255, 255, 255, 0)

                //     .right-col
                //         p
                //             order: 1
                //         .about-img
                //             order: 2
                //     .about-img
                //         position: absolute
                //         opacity: 0.3

                // @media screen and (max-width: 500px)
                //     .left-col, .right-col
                //         min-height: 250px
                //         p
                //             width: min(600px, 100%)
/// EDUCATION COMPONENT
.education-wrapper
    width: 100%
    padding-top: 10vh
    min-height: 50vh
