@import 'mixin'
@import 'variables'

#contact
    height: 100vh
    @include flexbox(center,center)
    color: #{$grey}
    .contact-wrapper
        height: 70%
        width: 80%
        @include flexbox(center,space-evenly)
        .left-contact
            width: 20%
           
            height: 100%
            @include flexbox(center,center)
            flex-direction: column      
        .right-contact
            width: 40%
            
            height: 100%
            @include flexbox(center,center)
            flex-direction: column
            gap: 30px

    .contact-icon
        width: 200px
        height: 200px

