@import 'mixin'
@import 'variables'

#contact
    height: 100vh
    @include flexbox(center,center)
    color: #{$grey}
    background: black
    .contact-wrapper
        height: 70%
        width: 80%
        @include flexbox(center,space-evenly)
        .left-contact
            width: 20%
           
            height: 100%
            @include flexbox(center,space-evenly)
            flex-direction: column
            h2
                font-size: 2rem
                
        .right-contact
            width: 40%
            
            height: 100%
            @include flexbox(center,center)
            flex-direction: column
            gap: 10px
           

    .contact-icon
        width: 200px
        height: 200px

    .chakra-button
        align-self: start