@import 'variables'
@import 'mixin'
@import 'keyframes'

#landpage

    color: #{$grey}
    //background: radial-gradient(circle at 70% -20%, #158ca1, #14879e, #127896, #0e648b, #0b4c7b, #07356a, #052157, #021144, #010733, #000224, #01001b, #010017)
    background-image: url("../assets/images/bg.png")

    height: 100vh
    position: relative
    @include flexbox(center,center)
    background-size: 100% 100%
    // .landpage-content-wrapper
    //     height: 100%
    //     width: 100%
    //     @include flexbox(center,center)
    //     padding: 0 1rem
    //     flex-direction: column
    //     .landpage-headline

    //         @include flexbox(center,center)
    //         flex-direction: column
    //         z-index: 1
    //         gap: 3rem
    //         width: min(700px, 100%)
    //         min-height: 55vh
    //         position: relative
    //         border: #{$bold}
    //         background: #{$topleft}, #{$bottomright}

    //         @media screen and (max-width: 400px)
    //             min-height: 45vh
    //         .my-name
    //             opacity: 1
    //             h1
    //                 line-height: 120%
    //         h3
    //             opacity: 1
    //     .front-img
    //         width: min(650px,100%)
    //         position: absolute
    //         bottom: 0
    //         opacity: 0.4
    //         z-index: 0
    // .front-icon
    //     position: absolute
    //     top: 30%
    //     right: 15%
    //     width: 70px
    //     height: 70px
    .container
        width: 100%
        height: 100%
        //background: radial-gradient(circle at 50% 120%, #c800cf, #c200cb, #b001bf, #9801ae, #7d0199, #610282, #48026a, #330253, #23023f, #18012f, #110124, #0f0120)

        @include flexbox(center,center)
        flex-direction: column
        background: rgba(255, 255, 255, 0)
        //  border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(10px)
        -webkit-backdrop-filter: blur(7.1px)
        //border: 1px solid rgba(255, 255, 255, 0.38)
        .my-name

            p

            h1

                text-transform: uppercase

                letter-spacing: clamp(0.8rem, 0.17vw + 0.76rem, 1rem)
                @media screen and (max-width: 600px)
                    letter-spacing: 4px
                    font-weight: 400
            h3
                font-weight: 100

                text-transform: uppercase
        .btns-container
            .front-btn
                padding: 1rem
                border-radius: 25px
                width: 120px
                margin: 1rem 1rem 0 0

            .dive-into-btn
                background: #{$blue}
            .contact-btn
                background: #{$purple}
    .socials
        position: absolute
        bottom: 2rem
        left: 2rem
        @include flexbox(center,center)
        gap: 2rem
        a
            color: #{$grey}
            font-size: 1.5rem
            transition: 0.3s
            &:hover
                color: #{$blue}

.expand-borders
    animation: bordersExpand 1s ease-in
    animation-fill-mode: both !important

.hide-borders
    animation: hideBorders 1s
    animation-fill-mode: both !important

.fade-in
    animation: fadeIn 1s
    animation-fill-mode: both !important
    animation-delay: 0.25s
.fade-out
    animation: fadeOut 0.5s
    animation-fill-mode: both !important
.fade-in-img
    animation: fadeInImg 0.5s
    animation-fill-mode: both !important

.fade-out-img
    animation: fadeOutImg 0.5s
    animation-fill-mode: both !important

@keyframes bordersExpand
    from
        opacity: 0
        background-position: 50% 50%
    to
        opacity: 1
        backgtound-position: 100% 100%
@keyframes hideBorders
    from
        opacity: 1
    to
        opacity: 0
        background-position: 50% 50%

@keyframes fadeInImg
    from
        opacity: 0
    to
        opacity: 0.4
@keyframes fadeOutImg
    from
        opacity: 0.4
    to
        opacity: 0

.glowing-btn
    position: relative
    color: var(--glow-color)
    cursor: pointer
    padding: 1rem
    border: 0.15em solid var(--glow-color)
    margin: 1em 1em 0 0
    border-radius: 0.45em
    background: none
    perspective: 2em
    font-family: "Raleway", sans-serif
    font-size: 2em
    font-weight: 900
    letter-spacing: 5px

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color)
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color)
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color)
    animation: border-flicker 5s linear infinite

.glowing-txt
    float: left
    margin-right: -0.8em
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color)
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color)
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color)
    animation: text-flicker 5s linear infinite

.faulty-letter
    opacity: 0.5
    animation: faulty-flicker 3s linear infinite

.glowing-btn::before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0.7
    filter: blur(1em)
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35)
    background: var(--glow-color)
    pointer-events: none

.glowing-btn::after
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0
    z-index: -1
    background-color: var(--glow-color)
    box-shadow: 0 0 2em 0.2em var(--glow-color)
    transition: opacity 100ms linear

.glowing-btn:hover
    color: rgba(0, 0, 0, 0.8)
    text-shadow: none
    animation: none

.glowing-btn:hover .glowing-txt
    animation: none

    .glowing-btn:hover &
        animation: none
        text-shadow: none
        opacity: 1

.glowing-btn:hover:before
    filter: blur(1.5em)
    opacity: 1

.glowing-btn:hover:after
    opacity: 1

@keyframes faulty-flicker
    0%
        opacity: 0.1

    2%
        opacity: 0.1

    4%
        opacity: 0.5

    19%
        opacity: 0.5

    21%
        opacity: 0.1

    23%
        opacity: 1

    80%
        opacity: 0.5

    83%
        opacity: 0.4

    87%
        opacity: 1

@keyframes text-flicker
    0%
        opacity: 0.1

    2%
        opacity: 1

    8%
        opacity: 0.1

    9%
        opacity: 1

    12%
        opacity: 0.1

    20%
        opacity: 1

    25%
        opacity: 0.3

    30%
        opacity: 1

    70%
        opacity: 0.7

    72%
        opacity: 0.2

    77%
        opacity: 0.9

    100%
        opacity: 0.9

@keyframes border-flicker
    0%
        opacity: 0.1

    2%
        opacity: 1

    4%
        opacity: 0.1

    8%
        opacity: 1

    70%
        opacity: 0.7

    100%
        opacity: 1

@media only screen and (max-width: 600px)
.glowing-btn
    font-size: 1em
