@import 'variables'
@import 'mixin'
@import 'keyframes'
#landpage
    color: #{$grey}
    background: black

    height: 100vh
    position: relative
    .landpage-content-wrapper
        height: 100%
        width: 100%
        @include flexbox(center,center)
        padding: 0 1rem
        flex-direction: column
        .landpage-headline

            @include flexbox(center,center)
            flex-direction: column
            z-index: 1
            gap: 3rem
            width: min(700px, 100%)
            min-height: 55vh
            position: relative
            @media screen and (max-width: 400px)
                min-height: 45vh
            &:before
                $b: 8px
                $c: #{$blue}
                border: #{$b} solid #0000
                $w: 180px
                content: ''
                position: absolute
                inset: 0
                background: $c
                $g: #0000 90deg, #000 0
                $p: $w $w border-box no-repeat
                $topleft: conic-gradient(from 90deg at top $b left $b, $g) 0 0 / $p
                $bottomright: conic-gradient(from -90deg at bottom $b right $b, $g) 100% 100% / $p
                $mask: $topleft, $bottomright
                -webkit-mask: $mask
                mask: $mask
            .my-name
                h1
                    line-height: 120%
        .front-img
            width: min(650px,100%)
            position: absolute
            bottom: 0
            opacity: 0.3
            z-index: 0
