@import 'variables'
@import 'mixin'
@import 'keyframes'
#skills
    color: #{$grey}
    height: 100vh
    @include flexbox(center,center)
    flex-direction: column
    position: relative
    .wrapper
        width: 100%
        height: 70%
        display: flex
        position: relative
        
        h2
            position: absolute
            top: 20px
            font-weight: 400
        .soft-first-letter
            opacity: 0
            &::first-letter
                
                text-shadow: 0 0 10px #{$grey},0 0 35px #{$orange},0 0 40px #{$orange},0 0 50px #{$orange},0 0 80px #{$orange}, 0 0 150px #{$orange}
        .hard-first-letter
            opacity: 0
            &::first-letter
                
                text-shadow: 0 0 10px #{$grey},0 0 35px #{$blue},0 0 40px #{$blue},0 0 50px #{$blue},0 0 80px #{$blue}, 0 0 150px #{$blue}
        .skills-wrapper

                flex-direction: column
                @include flexbox(center,space-around)
                height: 70%
                h3
                    font-weight: 300
                    opacity: 0

        .hard-skills
            width: 100%
            @include flexbox(center,space-evenly)
            flex-direction: column
            position: relative
            .icons-row
                @include flexbox(center,center)
                flex-direction: column
                gap: 10px

            .icons-wrapper
                width: 100%
                @include flexbox(center,center)
                gap: 20px
                
             

        .soft-skills
            @include flexbox(center,space-evenly)
            flex-direction: column
            width: 100%

            .soft-skill
                display: flex
                gap: 20px
                font-size: calc(12px + 0.390625vw)

.slider-wrapper
    width: 100%
    height: 100%
    display: flex
    cursor: move
    
    .left, .right
        position: relative
    
.swiper-button-next, .swiper-button-prev
    position: absolute
    top: 40%
    height: 50px
    width: 50px
    
    border-radius: 50%
    display: grid
    place-items: center
    cursor: pointer
    

    &:hover
        box-shadow: 0 0 10px 5px #{$blue}, inset 0 0 10px 5px #{$orange} 
        
.swiper-button-next
    right: 20px
.swiper-button-prev
    left: 20px
.swiper-arrow
    width: 30px
    height: 5px
    position: relative
    &::before, &::after
        content: ""
        position: absolute
        width: 50%
        height: 100%
        background: #{$grey}
        transitino: translate3d(-20%,0,0)
    &::before
        top: 0
        left: 0
        transform: skewY(50deg)
    &::after
        top: 0
        right: 0
        transform: skewY(-50deg)

.s-a-next
    transform: rotate(-90deg)
    
.s-a-prev
    transform: rotate(90deg)
          
.icon
    opacity: 0
    
        
@media screen and (max-width: 950px)
    .hard-skills, .soft-skills
        height: 100%
@media screen and (max-width: #{$smallTabletPortrait})
    .icon
        width: 40px
        height: 40px
@media screen and (max-width: 450px)
    .icon
        width: 30px
        height: 30px