@import 'variables'
@import 'mixin'
@import 'keyframes'
#skills
    min-height: 100vh
    color: #{$grey}
    position: relative
    background: #0d0d0d
    @include flexbox(center,center)
    flex-direction: column
    padding: 15vh 1rem 1rem 1rem

    .skills-wrapper
        width: min(1400px, 100%)
        min-height: 50vh
        @include flexbox(center,space-between)
        @media screen and (max-width: 900px)
            flex-direction: column
            justify-content: space-around
            align-items: center
        .skills-icon
            height: 100%
            width: 100%
            @include flexbox(center,center)
        .skills-content

            width: 100%

           
            padding: 3rem 1rem 1rem 1rem
         

            p
                width: min(500px, 100%)
.spinner
    position: relative
    width: 250px
    height: 250px

    border-radius: 50%

    .spinner-blur
        width: 220px
        height: 220px
        background: rgba(196, 196, 196 ,0.1)
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(10px)
        -webkit-backdrop-filter: blur(10px)
        border-radius: 50%
        z-index: 50
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: grid
        place-items: center
        text-align: center
        font-weight: 400
    .circle
        position: absolute
        width: 130px
        height: 130px
        background: var(--clr)

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(10px)
        -webkit-backdrop-filter: blur(10px)
        border-radius: 50%
        padding: 1rem
        display: grid
        place-items: center
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        z-index: -1
        //new
        border-radius: 42% 58% 60% 70% / 45% 45% 55% 55%
        .tech-icon
            width: 70px
            height: 70px

        transform-style: preserve-3d
        outline: 1px solid transparent
        will-change: border-radius
.circle:before,
.circle:after
    content: ''
    width: 100%
    height: 100%
    display: block
    position: absolute
    left: 0
    top: 0
    border-radius: 42% 58% 90% 30% / 45% 80% 55% 55%
    box-shadow: 5px 5px 89px var(--clr)
    will-change: border-radius, transform, opacity

   
.circle:before
    animation: morph 3s linear infinite
    opacity: .21
    animation-duration: 1.5s

.circle:after
    animation: morph 3s linear infinite
    animation-delay: 400ms
    opacity: .89
    content: attr(data-text)
    line-height: 120px
    text-indent: -21px
