@use 'burger-menu'
@use 'navbar'
@import 'variables'
@import 'mixin'
@import 'keyframes'
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

.app
    @include gradient( 60deg, #{$gradientListMain})
    background-size: 100% 100%
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px
    background-image: #{$layer1}, #{$layer2}, #{$layer3}, #{$layer4}, #{$layer5}

    height: 100vh
    scroll-snap-type: y proximity
    overflow: auto
    scroll-behavior: smooth!important
    section, main, footer
        scroll-snap-align: end

main
    height: 100vh

#projects
    height: 100vh
    background-color: #{$orange}
#contact
    height: 100vh
    background-color: #{$blue}
footer
    height: 15vh
    background-color: yellow

.header
    color: #{$grey}
    @include flexbox(center,space-evenly)
    height: 100%

    @media screen and (max-width: #{$medium})
        flex-direction: column
    .my-name
        //background-color: red
        height: 400px
        @include flexbox(left,top)
        flex-direction: column

        gap: 1rem
        h1
            font-size: 7vmin
            font-weight: 400
            animation: fadeInLeft 1s
            &:nth-child(1)::first-letter
                font-size: 10vmin
                text-shadow: 0 0 10px #{$grey},0 0 35px #{$orange},0 0 40px #{$orange},0 0 50px #{$orange},0 0 80px #{$orange}, 0 0 150px #{$orange}
        h3

            animation: fadeInLeft 1s
            animation-fill-mode: backwards
            animation-delay: 1s
            font-weight: 400
            font-size: 3vmin
    .introducer
        width: 100%
        @include flexbox(center,center)
        h2
            font-weight: 400
    .motiv-text
        @include flexbox(center, end)
        flex-direction: column
        gap: 1rem
        height: 250px
        width: 370px
        h3
            font-size: 3vmin
            text-shadow: 0 0 10px #{$grey},0 0 35px #{$blue},0 0 40px #{$blue},0 0 50px #{$blue},0 0 80px #{$blue}, 0 0 150px #{$blue}
            //text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 80px #228DFF,0 0 100px #228DFF,0 0 150px #228DFF
            animation: fadeInDown 1s

        span
            width: 100%
            font-size: 2vmin
            overflow: hidden
            letter-spacing: 0.2rem
            white-space: nowrap
            animation: typing 2s
.main-left-container
    @include flexbox(center, space-evenly)
    flex-direction: column
.introducer
    @include flexbox(center,center)
    flex-direction: column
    gap: 25px
    h2
        animation: fadeInLeft 1s
        animation-fill-mode: backwards
        animation-delay: 1.5s

.arrow-container
    @include flexbox(center,center)
    position: relative
    gap: 5px
    animation: fadeInLeft 1s
    animation-fill-mode: backwards
    animation-delay: 2s
.arrow
    $base: 0.6rem
    position: absolute
    width: calc(#{$base} * 3.5)
    height: calc(#{$base} * 0.8)
    transform: scale(2)
    opacity: 0
    animation: move 3s ease-out infinite

    &:first-child
        animation: move 3s ease-out 1s infinite
    &:nth-child(2)
        animation: move 3s ease-out 2s infinite

    &::before
        content: ""
        position: absolute
        background-color: #{$grey}
        top: 0
        height: 100%
        width: 50%
        left: 0
        transform: skewY(30deg)
    &::after
        content: ""
        position: absolute
        background-color: #{$grey}
        top: 0
        height: 100%
        width: 50%
        right: 0
        width: 50%
        transform: skewY(-30deg)
