@import '../variables'
@import '../mixin'

.menu-open,
.menu-close

    font-size: 20px
    cursor: pointer
    color: #{$blue}
.menu-open
    position: absolute
    z-index: 9
    right: 1rem
    top: 1rem
    padding: 40px
.menu-close-container
    position: absolute
    z-index: 102
    left: 50%
    top: 130%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    .menu-close
        width: 50px
        height: 50px

        position: relative
        span
            &:nth-child(1),   &:nth-child(2)
                position: absolute
                width: 40px
                height: 1px
                background: #{$grey}
                top: 50%
                left: 9%
            &:nth-child(1)
                transform: rotate(45deg)
            &:nth-child(2)
                transform: rotate(-45deg)

    .menu-line
        height: 400px
        width: 1px
        background: rgba(196, 196, 196,0.3)

.nav-container
    position: fixed
    bottom: -100vh
    width: 100vw
    height: 100vh
    background: #{$grey}
    z-index: 10
    opacity: 1
    .menu-left
        position: absolute
        left: -50%
        width: 50%
        height: 100%
        background: #{$black}
        @include flexbox(center,start)
        padding: 1rem
    .menu-right
        position: absolute
        right: 0
        width: 50%
        height: 100%

        .menu-right-up
            position: absolute
            top: 0
            right: -100%
            width: 100%
            height: 50%
            background: #{$black}
        .menu-right-down
            position: absolute
            bottom: 0
            right: -100%
            width: 100%
            height: 50%
            background: #{$black}


.menu
    $perspective: 60rem
    $font-size: 4.25rem
    $split-position: 49%
    $split-thickness: 4px
    $split-color: #FF2C75
    
    --offset: 20vw
    --move-initial: calc(-25% + var(--offset))
    --move-final: calc(-50% + var(--offset))
   
