@import '../variables'
@import '../mixin'
@import url('https://fonts.google.com/specimen/Permanent+Marker')
.title-wrapper
    @include flexbox(center,center)
    gap: 1rem
    width: 100%
    margin: 2rem 0
    overflow: hidden
    .title-line
        width: min(100px, 30%)
        background: #{$grey}
        height: 1px
    .title
        font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem)
        display: flex
        text-transform: uppercase
        letter-spacing: 1px
        background-image: linear-gradient(to right, #{$lightblue}, #{$pink})
        // background-image: linear-gradient(to right, #0b15ee, #f31154)
        background-clip: text
        -webkit-text-fill-color: transparent
        font-family: 'sans' !important
